.Burger {
    width: 100%;
    margin: auto;
    height: 150px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    align-items: center;
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}

@media (min-width: 400px) and (min-height: 700px) {
    .Burger {
        width: 450px;
        height: 400px;
        margin-bottom: 10px;
        margin-top: 15%;
    }
}


@media (min-width: 300px) and (min-height: 700px) {
    .Burger {
        width: 350px;
        height: 300px;
        margin-bottom: 0px;
        margin-top: 18%;
    }
}


@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 450px;
        height: 400px;
        margin-bottom: 0px;
        margin-top: 4%;
    }
}